<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script> -->
    <script src="../static/js/jbh/jquery-3.4.1.min.js"></script>
    <script src="../static/js/jbh/zrender.min.js"></script>
    <title></title>
</head>

<body>
    <div class="container">
        <div id="main" style="width:100%;height:100%;"></div>
        <div class="editPart">
            <h5>编辑区</h5>
            <div class="content">
                <div style="padding: 15px 30px;margin-bottom: 0;" class="field">
                        <span>批次：</span>
                        <select name="batch">
                            <option value="0">全部</option>
                        </select>
                </div>
                <div style="padding: 15px 30px;margin-bottom: 0;" class="field">
                        <span>轮询批次：</span>
                        <input type="number" name="batchNum" style="width: 100px;">
                    </div>
                <div style="padding: 15px 30px;margin-bottom: 0;" class="field">
                    <span>轮询间隔：</span>
                    <input type="number" name="batchTime" style="width: 100px;">
                </div>
                <div class="btn" id="editBatch">修改</div>
                <div class="btn" id="create">创建坐标点</div>
                <div class="box" style="display: none;">
                    <div class="field">
                            <span>ID：</span>
                            <input type="text" name="id" readonly="readonly" style="cursor: default;">
                        </div>
                    <div class="field">
                        <span class="posi">x: <input type="number" name="x" /></span>
                        <span class="posi">y: <input type="number" name="y" /></span>
                    </div>
                    <div class="field">
                        <span>名称：</span>
                        <input type="text" name="drop_name">
                    </div>
                    <div class="field">
                        <span>状态：</span>
                        <select name="state">
                            <option value="1">正常</option>
                            <option value="2">报警</option>
                            <option value="3">损坏</option>
                        </select>
                    </div>
                    <div class="field">
                        <span>轮次：</span>
                        <input type="number" name="batch">
                    </div>
                    <div class="field">
                        <span>射线速率：</span>
                        <input type="number" name="speed" style="width: 100px;">
                    </div>
                    <p style="color: #fff;font-size: 12px;">（默认为20，数值越大动效越慢）</p>
                    <div class="btn" id="save">保存</div>
                    <div class="btn" id="delete" style="display: none;">删除</div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/jbh/backend.js"></script>
    <script>
        var domain = 'http://localhost:5000'
        var zr = zrender.init(document.getElementById('main'));
        function getData(speed){
            $.ajax({
            url: domain + '/get_drop_list_data',
            type: 'get',
            success: function(result) {
                $('.layer').hide()
                var res = JSON.parse(result)
                if (res.code == '200') {
                    drawFunc.init(res.data)
                } else {
                    alert(res.message)
                }
            }
        })
        }
        /*
        * 设置轮询间隔时间（s）、轮询批次 （int）
        */
       $('#editBatch').click(function(){
           var batchTime = $('input[name="batchTime"]').val()
           var batchNum = $('input[name="batchNum"]').val()
           $.ajax({
               url:'http://localhost:5000/edit_all_data?all_batch_speed='+batchTime+'&all_batch_num='+batchNum,
               type:'get',
               success:function(result){
                 var res = JSON.parse(result)
                 if(res.code==200){
                     alert('操作成功')
                     window.location.reload()
                 }
               }
           })
       })
        /*
        * 坐标点信息保存
        */
        $('#save').click(function(){
            var url = ''
            var x = $('input[name="x"]').val()
            var y = $('input[name="y"]').val()
            var site = [x,y].join(',')
            var state = $('select[name="state"]').val()
            var batch = $('input[name="batch"]').val()
            var speed = $('input[name="speed"]').val()
            var name = $('input[name="drop_name"]').val()
            var color = state==1?'green':state==3?'red':'yellow'
            if($('input[name="id"]').val()){
                url = domain+'/mysql_update_drop_data?site='+site+'&batch='+batch+'&drop_name='+name+'&state='+state+'&drop_radiation_speed='+speed+'&color='+color+'&id='+$('input[name="id"]').val()
            }else{
                url=domain+'/mysql_add_drop_data?site='+site+'&batch='+batch+'&drop_name='+name+'&drop_radiation_speed='+speed+'&color='+color+'&state='+state
            }
            $.ajax({
                url:url,
                success:function(result){
                    var res = JSON.parse(result)
                    if(res.code=='200'){
                        alert('操作成功')
                        window.location.reload()
                    }
                }
            })
        })
        /*
        * 坐标点信息删除
        */
        $('#delete').click(function(){
            var id = $('input[name="id"]').val()
            $.ajax({
            url:'http://localhost:5000/mysql_delete_drop_data?id='+id,
            success:function(result){
                var res = JSON.parse(result)
                if(res.code=='200'){
                        alert('删除成功')
                        window.location.reload()
                    }
            }
        })
        })
        /*
        * 轮询数据获取
        */
        $.ajax({
           url:domain+'/get_all_data',
           type:'get',
           success:function(result){
                var res = JSON.parse(result)
                if(res.code=='200'){
                    var batchNum = res.data.all_batch_num
                    var batchTime = res.data.all_batch_speed
                    getData(batchTime)
                    $('input[name="batchNum"]').val(batchNum)
                    $('input[name="batchTime"]').val(batchTime)
                    var html = ''
                    for(var i=1;i<=batchNum;i++){
                        html += `<option value="${i}">${i}</option>`
                    }
                    $('select[name="batch"]').append(html)
                }
           }
       })
        /*
        * 批次获取
        */
       $('select[name="batch"]').change(function(e){
           var batch = $('select[name="batch"]').val()!=0?$('select[name="batch"]').val():''
           $.ajax({
            url: domain + '/get_drop_list_data?batch='+batch,
            type: 'get',
            success: function(result) {
                $('.layer').hide()
                var res = JSON.parse(result)
                if (res.code == '200') {
                    drawFunc.init(res.data)
                } else {
                    alert(res.message)
                }
            }
        })
       })
    </script>
</body>

</html>